.registation-form-table-container {
  width: 100% !important;
  .table-main-container {
    margin: 0px 24px;
    padding: 16px;
    // height: calc(100vh - 10em);

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .table-title {
        height: 22px;
        flex-grow: 1;
        font-family: Inter;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #171d22;
      }

      .table-search {
        width: auto;
        height: 40px;
      }
    }
    .records-table {
      height: calc(100vh - 19em);
    }
  }
}

// 👇 These should be global or outside nested blocks
.custom-search {
  background-color: #f7f9fc !important;
  border-radius: 12px !important;
  padding: 6px 12px;
  font-size: 16px;
  border: none !important;
  box-shadow: none !important;
}

.custom-search input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.search-wrapper {
  padding: 12px;
}
