@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.reg-form {
  .reg-form-header {
  }
  .reg-form-title {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
  }
  .reg-form-content {
    background-color: #fff;
    border-radius: 8px;
  }
}
