@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
  font-family: 'Inter', sans-serif;
}
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
.App-header{
    background-color: #f3f3f3  !important;
}

.button-colors {
    background-color: #4CAF50;
}
.main-header{
    font-weight: 800;
}